.buttonRow {
  overflow: auto;
  white-space: nowrap;
  padding: 16px 22px 22px 22px;
  margin-left: -22px;
  margin-right: -22px;
  margin-bottom: -24px;
}
@media (max-width: 961px) {
  .buttonRow::-webkit-scrollbar {
    display: none;
  }
}
